footer
  .container
    .row
      .col-md-6
        .social-link
          i.fa.fa-facebook-official.fa-2x
          i.fa.fa-twitter-square.fa-2x
          i.fa.fa-google-plus-square.fa-2x
          i.fa.fa-github-square.fa-2x
          i.fa.fa-pinterest-square.fa-2x
      .col-md-6
        .back-to-top.text-right
          | Back to top
        .btt